.dashboard{
    height: 100vh;
    background-color: #D7D7D7;    
}
.NavBarDash{
    width: 7vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;    
    padding: 0.5em;
    color:white;
    background-color: #5D576B;
}