.ManageData_Menu{
    margin: 3em;
    margin-top: 3em;      
    width: 100%; 
    max-width: 100%;
    overflow-x: auto;    
    display: flex;
    justify-content: space-between;
}
.ManagedataTitle{
    height: 8vh;
    display: flex;
    align-items: center;
    width: 90vh;
    padding: 0.5em;
    border-radius: 0.65em;
    background-color: white;
 }
 .ManagedataTitle h1{
    margin-left: 1em;
 }

.SortData{
    
    background-color: white;
    height: 27vh;
    width: 90vh;
    padding: 0.5em;
    border-radius: 0.65em;    
    margin-top: 2em;
 }
 .SortData h4{
   margin: 0.75em;
    margin-left: 2em;
 }

.DataInformation{
    background-color: white;
    height: 42vh;
    width: 90vh;
    padding: 0.5em;
    border-radius: 0.65em;    
    margin-top: 2em;
 }

.IPList{
    background-color: white;
    height: 80vh;
    width: 70vh;
    padding: 0.5em;
    border-radius: 0.65em;   
    margin-top: 3em;
    overflow-y: auto;
}

.right-container{
    display: flex;
    justify-content: center;
    width: 100vh;
}

.sortDataContainer{
    height: 20vh;
    background-color: #AAAAAA;
    margin: 2em;
    margin-top: 0em;
    border-radius: 0.65em;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .findSort{
    margin-left: 1em;
    margin-right: 3em;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .findSort input{
   border-radius: 1em;
   border: none;
   height: 2.2vh;
   width: 25vh;
   padding: 0.4em;
 }
.DataContainerr{
    margin: 1em;
 }
 .IPSelecteted{    
    height: 6.5vh;
    background-color: #F2F2F2;
    border-radius: 0.65em;
    display: flex;
    align-items: center;
    justify-content: space-between;    
 }
 .IPSelectedBox{
    background-color: white;
    width: 30vh;
    height: 3vh;
    border: 1px  solid black;
    border-radius: 0.65em;
    margin-right: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .IPSelecteted h2{
    margin-left: 4vh;
 }
 .IP_Information_Title{   
    margin-top: 1.5em;
    width: 40vh;
    height: 4vh;
    color: white;
    border-top-left-radius: 0.65em;
    border-top-right-radius: 0.65em;
    background-color: #7163BA;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .IP_Information{
   overflow-y: auto;
    background-color: #F2F2F2;
    display: flex;
    height: 25vh;
    width: 40vh;
    border-bottom-left-radius: 0.65em;
    border-bottom-right-radius: 0.65em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .IP_Data{
    border-radius: 0.65em;
    margin: 0.5em;
    height: 4vh;
    width: 35vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .IP_Data p{
    margin-left: 1em;
    margin-right: 1em;
 }

.divideIP-Information{
    display: flex;    
    justify-content: space-between;
}
.IP-Options{
    margin-top: 1em;
    width: 40vh;
    height: 30vh;
    color: white;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .OptionIP{
    background-color: #7163BA;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.65em;
    cursor: pointer;
 }
 .IP-Options a{
    color: white;
    text-decoration: none;
 }

.IPList{
   padding: 0;
 }
 .IPList_Title{
   background-color: #7163BA;
   height: 5vh;
   margin: 0;
   border-top-left-radius: 0.65em;
   border-top-right-radius: 0.65em;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2em;
 }
 .IPList_Title select{
   border: none;
   height: 3vh;
   width: 17vh;
   background-color: rgba(255, 255, 255, 0.364);
   color: white;
   border-radius: 0.65em;
   text-align: center;   
 }
 .IPList_Title option{
   color: black;
 }
 .IPMainList{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .IPListItem{
   height: 4vh;   
   width: 70vh;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }
 .IPListItem:nth-child(odd){
   background-color: #F2F2F2;
 }