@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.LoginBox{
    margin: 0;
    display: flex;    
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 100%;
}
body{
    margin: 0;
}
.VideoBackground{    
    margin-right: 10vh;
}
.VideoBackground video{
    object-fit: cover;
    max-height: 100vh;
    width: 100vh;    
}
.loginForm{   
    color: white;
    min-width: 40vh; 
    margin-left: 20vh;    
}
.loginForm h1{
    font-size: 4vh;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
.loginForm form{
    font-size: 2dvh;
    color: black;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.517);
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.loginForm label{
    margin-bottom: 2vh;
}
.loginForm input{
    height: 3vh;
    border: none;    
    margin-bottom: 3vh;
    border-bottom: .1em solid black;    
}
.loginForm input[type="submit"] {
    margin-top: 3vh;
    border: none;
    width: 15vh;
    border-radius: 4em;
    color: white;
    background-color: red;
}

.formsbuttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh; 
}
.loginForm a{
    text-decoration: none;
    color: white;    
}
.loginForm li{
    margin-top: 2vh;
}
