.formsbuttons input{
    margin: 0;
    margin-top: 0;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh; 
}

.loginForm li{
    margin-top: 2vh;
}
#selector{
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    background-color: rgb(225, 225, 225);
}
.PasswordWrong{
    display: none;
    background-color: red;
    color: white;
    padding: 0.5em;
    border-radius: 3em;
    margin-bottom: 2vh;
    text-align: center;
}
#writeCode{
    margin-top: 1em;
    margin-bottom: 0.3em;
}
#adminCodeInput{
    margin-top: 0;
    margin-bottom: 0;
}
#selector option{
    background-color: white;
}